<mat-card>
  <mat-card-title>{{ title }}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="full-width">
        <input matInput placeholder="Nome do aluno" formControlName="name">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="accent" (click)="onBack()">Voltar</button>
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
  </mat-card-actions>
</mat-card>
